* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #2522DC;
}


/*------------------------------------*/
.layout {
	margin: 0;
	padding: 0;
}

.menu {
	height: 50px;
	background: white;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
}

.blank {
	height: 100%;
}

.menu-recommend {
	border-bottom: 1.5px solid gray;
	height: 100%;
}

.recommend-list {
	list-style: none;
	padding: 0;
	margin-left: 12%;
}

.recommend-item {
	display: inline;
	margin-right: 2%;
}

.recommend-item a {
	color: #767676;
	font-weight: 700;
}

.recommend-item a:hover,
.recommend-item a:focus {
	text-decoration: underline;
}

.menu-search {
	border-bottom: 1.5px solid gray;
	height: 100%;
}

.search-form {
	position: relative;
	top: 15%;
	float: right;
}

.search-form i {
	position: relative;
	left: -12%;
}


/*------------------------------------*/
.menu-user {
	height: 100%;
	border-bottom: 1.5px solid gray;
}

.user-items {
	list-style: none;
	text-align: right;
	padding: 0;
}

.user-item {
	display: inline;
}

.user-item i {
	color: #EB7575;
}

.user-item a {
	margin-right: 3%;
	color: #767676;
	font-weight: 600;
}


/*------------------------------------*/
.nav {
	background: #242424;
	position: fixed;
	top: 0;
	bottom: 0;
	box-shadow: 10px 0px 5px gray;
}

.portrait-box {
	margin-top: 20%;
	text-align: center;
}

.portrait {
	border-radius: 50%;
	width: 60%;
	margin: 0 auto;
}

.nav-footer {
	padding: 10%;
	position: absolute;
	bottom: 0;
	left: 30%;
}

.hide-sidebar,
.settings {
	margin-bottom: 0.8em;
	color: #C3BEBE;
	font-size: 120%;
}


/*------------------------------------*/
.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	margin-left: 4.2%;
}

.cover-img {
	width: 100%;
	box-shadow: 5px 0px 5px #727272;
}

.sidebar-intro {
	position: absolute;
	bottom: 5%;
	width: 100%;
	text-align: center;
}

.sidebar-intro {
	color: white;
	font-family: Helvetica, Verdana, Sans-serif;
	font-size: 120%;
}

.write-blog {
	background: #737171;
	border-radius: 5px;
	padding: 0.3em 0.7em;
	color: #E2E2E2;
}

.write-blog i {
	margin-right: 0.5em;
}

.write-blog:hover,
.write-blog:focus {
	background: #419713;
}

/*------------------------------------*/
.main {
	margin: 0;
	padding: 0;
}

.articles {
	/*height: 1500px;*/
	margin-left: 25%;
	margin-top: 50px;
	padding: 1% 2%;
	background: #F4F4F4;
}


/*------------------------------------*/
.labels {
	padding: 0;
	/*background: #E4E4E4;*/
}

.label-list {
	list-style: none;
	padding: 0;
	margin-left: 3%;
}

.label-item {
	display: inline;
	margin-right: 1%;
}

.label{
	padding: 0.5% 0.8%;
	color: #767676;
	border-radius: 10%;
	border: 1px solid #767676;	
}

.label-item a:hover,
.label-item a:focus {
	border-radius: 10%;
	border: 1px solid #EB7575;	
	background: #EB7575;
	color: white;
	font-weight: 600;
	padding: 0.5%;
}


/*------------------------------------*/
.blogs {
	/*background: #EEEEEE;*/
	padding: 1em;
}

.blog {
	background: white;
	margin-bottom: 4em;
	padding: 1em 0 1em 0;
}

.blog-shadow {
  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.blog-logo {
	font-size: 150%;
	text-align: right;
	width: 100%;
	padding-top: 1%;
}

.blog-body {
	/*background: #CFCFCF;*/
	margin-left: 1em;
	padding: 0 1em;
}

.blog-title {
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 180%;
	font-weight: 600;
	color: #3E3E3E;
	margin: 0.2em 0 0.8em 0;
}

.blog-meta {
}

.blog-meta i {
	color: #454545;
	margin-right: 0.3em;
}

.blog-author,
.blog-date {
	margin-right: 1em;
	display: inline;
}

.blog-content {
	font-family: Helvetica, Arial, sans-serif;
	text-align: justify;
	line-height: 150%;
	font-size: 1em;
	padding-right: 1em;
}


.blog-footer {
	padding: 0.5em 0 1em 0;
	border-top: 1.5px solid gray;
}

.read-more {
	/*padding: 0 0 1em 0;*/
	color: #5F5F5F;
	font-size: 1em;
	/*font-weight: 600;*/
}

.read-more:hover,
.read-more:focus {
	color: #EB7575;
}

.read-more i {
	margin-right: 1em;
}

