{% extends "base_sidebar.html" %} {% block content %}
<div class="content-wrapper">
    <div id="login">
        <form action="{% url 'login' %}" method='post' class="pure-form pure-form-aligned">
            {% csrf_token %}
            {{ login_form.username.errors }}
            {{ login_form.username }}
            {{ login_form.password.errors }}
            {{ login_form.password }}
            <button type="submit" class="save-btn">Login</button>
            <input type="text" name="next" style="display:none;" value={{ next }}>
        </form>
    </div>
</div>
{% endblock %}
