#id_title {
	/*background: yellow;*/
	background: transparent;
	border: transparent;
	width: 100%;
	height: 2vw;
	font-size: 1.5vw;
    font-family: Helvetica, Arial, Sans-serif;
    color: #414141;
}

#blog-meta-edit ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#blog-meta-edit ul li {
	/*background: blue;*/
	display: inline;
}

#id_tags {
	/*background: orange;	*/
	background: transparent;
	border: transparent;
	width: 80%;
	height: 1.5vw;
    padding: 0.5vw 0;
}

#id-content {
	background: gray;
	width: 100%;
}
