/*#blog-func {
    background: orange;
}*/

.blog {
    position: relative;
    background: white;
    padding: 1vw;
    margin-bottom: 3em;
}

.blog:before,
.blog:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.blog:after {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}

/*-------------------------------*/

.blog-toolbar {
    /*background: blue;*/
    font-size: 1.2vw;
    text-align: center;
    padding-top: 0.3vw;
}

.blog-toolbar a {
    /*background: yellow;*/
    color: #414141;
    padding: 0.1vw 0.2vw;
    border-radius: 5px;
}

.blog-toolbar a:hover {
    color: #4182EC;
}

/*-------------------------------*/

.blog-body {
    /*background: gray;*/
    /*width: 90%;*/
    padding: 0 2vw 0 1vw;
}

.blog-title a,
.blog-title p {
    /*background: green;*/
    /*width: 50%;*/
    font-size: 1.5vw;
    color: #414141;
    font-family: Helvetica, Arial, Sans-serif;
}

.blog-title a:hover,
.blog-title a:focus {
    color: #4182EC;
    text-decoration: none;
}

.blog-meta-wrapper {
    /*background: red;*/
    margin: 1vw 0;
}

.blog-meta {
    padding: 0;
}

.blog-meta>li {
    /*background: green;*/
    display: inline;
}

.blog-meta i {
    /*background: #E70E0E;*/
    margin-right: 0.5em;
}

.blog-date,
.blog-category {
    margin-right: 1em;
}

.blog-tags {
    /*background: #93D853;*/
    padding: 0;
    display: inline;
}

.blog-tags>li {
    /*background: #E559C8;*/
    display: inline-block;
    padding: 0 0.3vw;
    border-radius: 3px;
}

.blog-tags>li>a {
    color: white;
}

.blog-tags>li>a:hover,
.blog-tags>li>a:focus {
    padding: 0 0.1vw;
    text-decoration: none;
}

.blog-content {
    /*background: yellow;*/
    font-weight: normal;
    font-family: Helvetica, Arial, Sans-serif;
    line-height: 180%;
    text-align: justify;
    font-size: 0.9vw;
}

.blog-footer {
    /*background: blue;*/
    border-top: 1px solid #9B9B9B;
    padding: 0.5em 0;
    margin: 0.5vw 0;
}

.blog-footer i {
    margin-right: 0.5em;
}

.blog-footer a:hover,
.blog-footer a:focus {
    color: #4182EC;
    /*font-weight: 500;*/
    font-size: 0.8vw;
}
