.blog-editor-wrapper {
	background: white;
	padding: 1vw 3vw 0 1vw;
}

.blog-editor {
	/*background: gray;*/
	padding: 0 0.5vw;
}

.blog-title-edit {
	/*background: green;*/
	/*margin: 1vw 0;*/
}

#id_title {
	/*background: #CBCBCB;*/
	/*background: transparent;*/
	border: transparent;
	width: 60%;
	height: 2vw;
	font-size: 1.5vw;
    font-family: Helvetica, Arial, Sans-serif;
    color: #4182EC;
    font-weight: 600;
}

.blog-title-edit a,
.blog-editor-save,
.blog-editor-undo {
	float: right;
	height: 1.5vw;
	width: 4vw;
	color: white;
	font-weight: 600;
	border: transparent;
	border-radius: 0.2vw;
	margin-left: 0.5vw;
	margin-top: 0.25vw;
}

.blog-title-edit a {
	background: #F78282;
	padding: 0.25vw;
	text-align: center;
	text-decoration: none;
}

.blog-title-edit a:hover {
	background: #E84343
}

.blog-editor-save {
	background: #A2BD62;
}

.blog-editor-save:hover {
	background: #88CA2D;
}

.blog-editor-undo {
	background: #E9CA47;
}

.blog-editor-undo:hover {
	background: #F3A558;
}

.blog-meta-edit {
	/*background: #E6E6E6;*/
	height: 1.2vw;
	padding: 0;
	margin: 1vw 0;
}

.blog-meta-edit i {
	/*background: gray;*/
	margin-right: 0.3vw;
	color: #6E6E6E;
}

#id_category {
	margin-right: 1vw;
	width: 10%;
}

#id_category option {
	margin: 0.5vw;
}

#id_tags {
	/*background: green;*/
	background: transparent;
	border: transparent;
	height: 100%;
	width: 50%;
    font-family: Helvetica, Arial, Sans-serif;
	font-size: 0.9vw;
	color: #414141;
}

