* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #7E7E7E;
}

body {
    /*background: #F4F4F4;*/
}

.layout {
    /*background: #C7D4AD;*/
}

.layout:after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #eee;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: -1;
}

/*---------------------------------*/

#toolbar {
    /*background: green;*/
    position: fixed;
    bottom: 1.5vw;
    right: 3vw;
    height: 2vw;
    width: 2vw;
    padding: 0;
}

#toolbar button {
    background: transparent;
    padding: 0;
    margin: 0;
}

#toolbar i{
    font-size: 2vw;
    color: #7197FE;
    height: 2vw;
    width: 2vw;
    padding: 0;
    margin: 0;
}

#toolbar i:hover,
#toolbar i:focus {
    color: #4E5BFC;s
}

/*---------------------------------*/

#top {
    background: #EEEDED;
    z-index: 1;
    height: 10%;
    /*border-bottom: 1px solid white;*/
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

#top-wrapper {
    /*background: blue;*/
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

#signature,
#menu,
#follow-me {
    position: relative;
    height: 50%;
    top: 25%;
}

#signature {
    top: 40%;
}

#signature {
    /*background: red;*/
}

#signature img {
    height: 100%;
    margin: 0 auto;
}

/*--------------------------------*/

#menu {
    /*background: green;*/
}

#menu-items {
    /*background: orange;*/
    list-style: none;
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: 0;
    padding: 0 10%;
}

.menu-item {
    /*background: white;*/
    margin-top: 50%;
    font-size: 1.2vmax;
    font-weight: 500;
}

.menu-item a:hover,
.menu-item a:focus {
    color: #4182EC;
}

/*--------------------------------*/

#follow-me {
    /*background: red;*/
}

#follow-items {
    /*background: yellow;*/
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    /*float: left;*/
    height: 100%;
    width: 90%;
}

.follow-item {
    /*background: green;*/
    color: #B6B6B6;
    font-size: 1.1vw;
    margin-top: 50%;
}

.follow-item a:hover,
.follow-item a:focus {
    font-size: 1.4vw;
}

.follow-wx a:hover,
.follow-wx a:focus {
    color: #5bb947;
}

.follow-gh a:hover,
.ffollow-gh a:focus {
    color: #323131;
}

.follow-fb a:hover,
.follow-fb a:focus {
    color: #47639e;
}

.follow-gg a:hover,
.follow-gg a:focus {
    color: #dd4e41;
}


/*---------------------------------*/

#main {
    /*background: #6C6C6C;*/
    width: 80%;
    margin: 0 auto;
    margin-top: 8%;
}


/*---------------------------------*/

#sidebar {
    background: yellow;
}

#portrait-box {
    /*background: blue;*/
}

#search {
    /*background: orange;*/
    text-align: center;
    margin: 0.5vw 0;
}

#search-form input {
    border: 1px solid #4182EC;
    width: 100%;
}

/*--------------------------------*/

#tag-cloud {
    background: white;
    padding: 0;
    margin: 0;
}

#tag-bar {
    /*background: green;*/
    margin: 0;
    height: 2vw;
    border-bottom: 2px solid #E6E6E6;
}

#tag-bar a {
    /*background: orange;*/
    padding-left: 0.5vw;
    position: relative;
    top: 0.2vw;
    text-decoration: none;
    font-family: Arial;
    font-size: 1vw;
    color: #4182EC;
}

#tag-bar a:hover {
    /*background: yellow;*/
    padding-left: 0.7vw;
}

#tag-cloud ul {
    /*background: green;*/
    list-style: none;
    padding: 0.3vw;
}

#tag-cloud li {
    /*background: yellow;*/
    display: inline;
    margin: 0.2vw;
}

#tag-cloud li a:hover,
#tag-cloud li a:focus {
    margin: 0 0.1vw;
    text-decoration: underline;
}

/*--------------------------------*/

#content {
    background: orange;
    /*padding: 0 1em;*/
}

/*--------------------------------*/

ul.errorlist {
    /*the ul list of django form*/
    background: #FFE58F;
    border-radius: 3px;
    list-style: none;
    padding: 0.5vw;
}