* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #39C;
}

a:hover,
a:focus {
    text-decoration: none;
    border: 1px white 20%;
    color: #369;
}

#layout {
    /*border: 1px solid blue;*/
    background: #eee;
}

.sidebar {
    background: #333;
    position: fixed;
    top: 0;
    bottom: 0;
    box-shadow: 10px 10px 10px #D1D1D1;
}

.portrait {
    /*border: 1px solid red;*/
    margin: auto;
    text-align: center;
    margin-top: 30%;
}

.portrait img {
    display: inline;
    border-radius: 50%;
}

.pure-img {
    max-width: 100%;
    height: auto;
}

.header {
    margin-top: 35%;
    text-align: center;
}

.brand-title a {
    color: #D1D1D1;
    margin: 0.5em 0;
}

.nav-item {}

.nav-item a {
    color: #D1D1D1;
    border: 1px solid #8D8C8C;
    border-radius: 5%;
}

.nav-item a:hover,
.nav-item a:focus {
    color: red;
    border: 1px solid red;
}

.brand-tagline {
    color: #D1D1D1;
    margin: 0.5em 0;
}

.content {
    /*border: 1px solid red;*/
    padding: 0 1em;
}

.posts {
    /*border: 1px solid black;*/
    /*padding-top: 0;*/
    /*margin-top: 0;*/
}

.post {
    /*border: 1px solid red;*/
    background: white;
    margin: 1em 2em 2em 2em;
    padding: 2em 3em;
    text-align: justify;
    position: relative;
}

.post-date {
	margin-right: 1em;
}

.shadow {
  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.post-title {
	font-family: Verdana, Arial, Sans-serif;
	margin-bottom: 1em;
}

.post-category {
	font-size: 75%;
	background: #E8934B;
}

.post-category:hover,
.post-category:focus {
	color: white;
}


.post-description {
    font-family: Helvetica, Arial, sans-serif;
}

.footline {
	border:none;
	border-top:1px solid gray;
	height:0;
}

.fa-bookmark-o {
	margin-right: 1em;
}

.pure-button {
	color: #39C;
	font-size: 90%;
	background: transparent;
}

.pure-button:hover {
	font-size: 95%;
	font-weight: 900;
	/*background: transparent;*/
}
