.tag-toolbar {
	background: white;
	border-bottom: 1px solid #7197FE;
	padding: 1vw 0 1vw 3vw;
	margin: 0;
}

.tag-form {
	background: white;
  	box-shadow: 1px 2px 3px #7E7E7E;
	padding: 2vw 0vw 2vw 4vw;
}

.tag-box {
	width: 100%;
	background: white;
	padding: 1vw;
}

.tag-cat {
    /*background: yellow;*/
    border-left: 3px solid gray;
    padding-left: 0.5vw;
    margin: 1vw 2vw;
}
.tag-items {
	list-style: none;
	padding: 0;
	margin: 0;
}

.tag-item {
	/*background: green;*/
	list-style: none;
	padding: 0;
	margin-bottom: 0.5vw;
}

.tag-last {
	margin: 0;
}

.tag-item li {
	display: inline;
}

.tag-item li.tag-name {
	border-radius: 3px;
	padding: 0.2vw 0.3vw;
	margin: 0 0.2vw;
	color: white;
}

.tag-item li.tag-pen {
	display: none;
}

.tag-item i {
	color: gray;
}

