* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #7E7E7E;
}

body {
	/*background: #F4F4F4;*/
}

.layout {
	/*background: #C7D4AD;*/
}

.layout:after {
   	content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-image: url(wp8.jpg); 
    width: 100%;
    height: 100%;
    opacity : 0.1;
    z-index: -1;
}


/*---------------------------------*/
#top {
	background: #F4F4F4;
	height: 10%;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
}

#top-wrapper {
	/*background: blue;*/
	height: 100%;
	width: 70%;
	margin: 0 auto;
}

#signature,
#menu,
#follow-me {
	position: relative;
	height: 50%;
	top: 25%;
}

#signature {
	top: 40%;
}

#signature {
	/*background: red;*/
}

#signature img {
	height: 100%;
	margin: 0 auto;
}

#menu {
	/*background: green;*/
}


#menu-items {
	/*background: orange;*/
	list-style: none;
    display: flex;
    justify-content: space-between;
	height: 100%;
	margin: 0;
	padding: 0 10%;
}

.menu-item {
	/*background: white;*/
	margin-top: 50%;
	font-size: 1.2vmax;
	font-weight: 600;
}

.menu-item a:hover,
.menu-item a:focus {
	color: #4182EC;
}


#follow-me {
	/*background: red;*/
}

#follow-items {
	/*background: yellow;*/
	list-style: none;
    display: flex;
    justify-content: space-between;
	margin: 0;
	padding: 0;
	/*float: left;*/
	height: 100%;
	width: 90%;
}

.follow-item {
	/*background: green;*/
	color: #B6B6B6;
	font-size: 1.1vw;
	margin-top: 50%;
}

.follow-item a:hover,
.follow-item a:focus {
	font-size: 1.4vw;
}

.follow-wx a:hover,
.follow-wx a:focus {
	color: #5bb947;
}

.follow-gh a:hover,
.ffollow-gh a:focus {
	color: #323131;
}

.follow-fb a:hover,
.follow-fb a:focus {
	color: #47639e;
}

.follow-gg a:hover,
.follow-gg a:focus {
	color: #dd4e41;
}

/*---------------------------------*/
#main {
	/*background: #CEC8C8;*/
	width: 70%;
	margin: 0 auto;
	margin-top: 5%;
}

/*---------------------------------*/
#sidebar {
	/*background: yellow;*/
}

.sidebar-wrapper {
	/*background: green;*/
	padding: 1em 1.5em;
}


#portrait-box {
	background: blue;
}

#search {
	/*background: orange;*/
	text-align: center;
	margin: 0.5vw 0;
}

#search-form input {
	width: 100%;
}

#tags {
	/*background: red;*/
	padding: 0;
	margin: 0;
}

/*---------------------------------*/
#content {
	/*background: #89F05D;*/
	/*padding: 0 1em;*/
}

.blog-wrapper {
	/*background: yellow;*/
	padding: 1em;
}

.blog {
	background: white;
	padding: 1vw;
	margin-bottom: 3em;
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}

.blog-logo {
	/*background: blue;*/
	font-size: 200%;
	color: #4182EC;
	padding: 0.3vw 0;
}

.blog-body {
	/*background: gray;*/
	padding: 0 1vw;
}

.blog-title {
	/*background: green;*/
	font-size: 1.8vw;
	font-family: Helvetica, Arial, Sans-serif;
}

.blog-meta {
	/*background: red;*/
}

.blog-meta ul {
	padding: 0;
}

.blog-meta li {
	display: inline;
}

.blog-meta i {
	margin-right: 0.5em;
}

.blog-date {
	margin-right: 1em;
}

.blog-content {
	/*background: yellow;*/
	font-weight: normal;
	font-family: Helvetica, Arial, Sans-serif;
	line-height: 150%;
	text-align: justify;
}

.blog-footer {
	/*background: blue;*/
	border-top: 1px solid #9B9B9B;
	padding: 0.5em 0;
}

.blog-footer i {
	margin-right: 0.5em;
}

.blog-footer a:hover,
.blog-footer a:focus {
	color: #4182EC;
	font-weight: 600;
}


