<!--base.html-->
<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <title>Salted Fish</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/xianyu.png' %}">
    <!-- include pure -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'pure-release-0.5.0/pure-min.css' %}">
    <link rel="stylesheet" href="{% static 'pure-release-0.5.0/grids-responsive-min.css' %}">
    <!-- include libraries(jQuery, bootstrap) -->
	<link href="{% static 'bootstrap/css/bootstrap-responsive.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <script src="% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.masonry.min.js' %}"></script>
    <script src="{% static 'jqcolpick/js/colpick.js' %}" type="text/javascript"></script>
	<link rel="stylesheet" href="{% static 'jqcolpick/css/colpick.css' %}" type="text/css"/>
    <!-- include summernote css/js-->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>
    <!-- include fontawesome for icons -->
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}"> 
    {# markdown css #}
    <script src="{% static 'highlight/highlight.pack.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'highlight/styles/github.css' %}">
    <!-- custom blog css -->
    <link rel="stylesheet" type="text/css" href="{% static 'blog_base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog_list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog_detail.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog_edit.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog_tags.css' %}">
</head>
{# markdown hightlight #}
<script>
hljs.initHighlightingOnLoad();
</script>

<body>
    <div class="layout">
        <div id="top">
            <div id="top-wrapper" class="pure-g">
                <div id="signature" class="pure-u-md-5-24">
                    <img class="pure-img" src="{% static 'img/signature1.png' %}" alt="">
                </div>
                <div id="menu" class="pure-u-md-16-24">
                    <ul id="menu-items">
                        <li class="menu-item home"><a href="{% url 'home' %}">Home</a></li>
                        <li class="menu-item python"><a href="">Python</a></li>
                        <li class="menu-item java"><a href="">Java</a></li>
                        <li class="menu-item javascript"><a href="">JavasSript</a></li>
                        <li class="menu-item linux"><a href="">Linux</a></li>
                    </ul>
                </div>
                <div id="follow-me" class="pure-u-md-3-24">
                    <ul id="follow-items">
                        <li class="follow-item follow-wx">
                            <a href=""><i class="fa fa-weixin" aria-hidden="true"></i></a>
                        </li>
                        <li class="follow-item follow-gh">
                            <a href=""><i class="fa fa-github" aria-hidden="true"></i></a>
                        </li>
                        <li class="follow-item follow-fb">
                            <a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                        </li>
                        <li class="follow-item follow-gg">
                            <a href=""><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="toolbar" class="btn-group btn-group-vertical">
            <a href="{% url 'blog_add' %}"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
        </div>
        <div id="main" class="pure-g">
            <div id="sidebar" class="pure-u-md-5-24">
                <div class="sidebar-wrapper">
                    <div id="portrait-box">
                        <img src="{% static 'img/dahuaxiyou.jpg' %}" alt="" id="portrait" class="pure-img">
                    </div>
                    <div id="search">
                        <div id="search-form" class="pure-form">
                            <form action="{% url 'search' %}" method="get">
                                <input name="q" type="text" placeholder="search" class="pure-input-rounded">
                            </form>
                        </div>
                    </div>
                    <div id="tag-cloud">
                        <div id="tag-bar">
                            <a href="{% url 'blog_tags' %}">Tag Cloud</a>
                        </div>
                        <ul>
                            {% for tag in tag_cloud %}
                            <li>
                                <a href="{% url 'tag_blogs' name=tag.name %}" style="font-size:{{ tag.count }}vw; color:{{ tag.color }}">{{ tag.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div id="content" class="pure-u-md-19-24">
                <div class="content-wrapper">
                    {% block content %} {% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>

</html>
