{% extends "base.html" %} {% block content %}
<div class="content-wrapper">
    <div class="blog-editor-wrapper">
        <form action="" id="blog-editor" autocomplete="off" method="post">{% csrf_token %}
            <div id="blog-title-edit">
                {{ blog_editor.title }}
               	<input type="submit" value="Save"><input type="reset" value="Undo">
            </div>
            <div id="blog-meta-edit">
                <i class="fa fa-folder-open" aria-hidden="true"></i>{{ blog_editor.category }}
                <i class="fa fa-tags" aria-hidden="true"></i> {{ blog_editor.tags }}
            </div>
            <div id="blog-content-edit">
                {{ blog_editor.content }}
            </div>
        </form>
    </div>
</div>
{% endblock %}
