{% extends "base.html" %} 

{% block content %}
<div class="pure-g tag-box">
    {% for tag_cat in tag_cats %}
    <div class="pure-u-5-24 tag-cat">
        <ul class="tag-items">
            {% for tag in tag_cat %}
            {% if not forloop.last %}
            <ul class="tag-meta">
	            <li>{{ tag.name }}</li>
	            <li class="tag-color" style="background:{{ tag.color }}">{{ tag.color }}</li>
	            <li><a href="{% url 'tag_modify' id=tag.id %}">
	            	<i class="fa fa-pencil" aria-hidden="true"></i>
	            </a></li>
            </ul>
            {% else %}
            <ul class="tag-meta tag-last">
	            <li>{{ tag.name }}</li>
	            <li class="tag-color" style="background:{{ tag.color }}">{{ tag.color }}</li>
	            <li><a href="{% url 'tag_modify' id=tag.id %}">
	            	<i class="fa fa-pencil" aria-hidden="true"></i>
	            </a></li>
            </ul>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
<script>
$('.tag-box').masonry({
    // options
    itemSelector: '.tag-cat',
    columnWidth: '.tag-cat'
});
</script>
{% endblock %}
