{% extends "base.html" %} {% block content %}
<div class="blog-wrapper">
	<form action="" id="blog-editor" method="post">{% csrf_token %}
		<button type="submit" class="pure-button">Save</button>
		<button type="reset" class="pure-button">Cancel</button>

		<input type="text" id="blog-title-editor" name="title" value="">
		<input type="text" name="tags" value="{{ blog.tags }}">
	    <div id="blog-content-editor" name="content">{{ blog.content }}</div>
	    <script>
	    $(document).ready(function() {
	        $('#blog-content-editor').summernote({focus: true});
	    });
	    </script>
    </form>
</div>
{% endblock %}
