{% extends "base.html" %} {% block content %}
<div class="content-wrapper">
    <div class="blog-editor-wrapper">
        <form action="{% url 'blog_edit' id=blog.id %}" id="blog-editor" autocomplete="off" method="post">{% csrf_token %}
            <div id="blog-title-edit">
                {{ blog_editor.title }}
                <button type="reset" class="blog-editor-undo">Undo</button>
                <button type="submit" class="blog-editor-save">Save</button>
            </div>
            <div id="blog-meta-edit">
                <i class="fa fa-folder-open" aria-hidden="true"></i>{{ blog_editor.category }}
                <i class="fa fa-tags" aria-hidden="true"></i> {{ blog_editor.tags }}
            </div>
            <div id="blog-content-edit">
                {{ blog_editor.content }}
            </div>
        </form>
    </div>
</div>
{% endblock %}
