{% extends "base_sidebar.html" %}

{% block content %}
<div class="content-wrapper">
	<form method="post" action="" class="pure-form pure-form-aligned">
		{% csrf_token %}
        {{ category_form.as_p }}
        <button type="submit">Save</button>
        <button type="reset">Reset</button>
        <a href="">Delete</a>
	</form>
</div>
<script>
$('#id_color').colpick({
    layout: 'hex',
    submit: 0,
    colorScheme: 'dark',
    onChange: function(hsb, hex, rgb, el, bySetColor) {
        $(el).css('border-color', '#' + hex);
        if (!bySetColor) $(el).val(hex);
    }
}).keyup(function() {
    $(this).colpickSetColor(this.value);
});
</script>
{% endblock %}
