{% extends "base_sidebar.html" %} 

{% block content %}
<div class="content-wrapper">
    <div class="pure-g category-box">
        <div class="pure-u-7-24 category category-toolbar">
            <form method="get" action="{% url 'search' flag='categories' %}">
                {% csrf_token %}
                <input type="text" name="q" placeholder="search">
                <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                <a href="{% url 'category_add' %}"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
            </form>
        </div>
        {% for category in categories %}
        <div class="pure-u-7-24 category" style="background: {{ category.color }}">
            <p>
                <a href="{% url 'category_edit_blog' catid=category.id blogid=0 %}">
                {{ category.name }} ({{ category.blog_nums }})</a>
                <a href="{% url 'category_modify' id=category.id %}"><i class="fa fa-cog" aria-hidden="true"></i></a>
            </p>
            <ul class="category-blogs">
                {% for blog in category.get_valid_blogs %}
                <li class="category-blog"><a href="{% url 'blog_detail' id=blog.id %}">{{ blog.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div>
<script>
$('.category-box').masonry({
    itemSelector: '.category',
    columnWidth: '.category'
});
</script>
{% endblock %}
