{% extends "base_sidebar.html" %} 

{% block content %}
<div class="content-wrapper">
    <div class="tag-toolbar">
        <form method="get" action="{% url 'search' flag='tags' %}">
            {% csrf_token %}
            <div class="input-group pure-u-1-4">
                <input type="text" name="q" class="form-control" placeholder="search for...">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    {% if user.is_authenticated %}
                    <a href="{% url 'tag_add' %}" class="btn btn-default"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
    <div class="pure-g tag-box">
        {% for tag_cat in tag_cats %}
        <div class="pure-u-3-24 tag-cat">
            <ul class="tag-items">
                {% for tag in tag_cat %} {% if not forloop.last %}
                <ul class="tag-item" onmousemove="showTagPen(this);" onmouseout="hideTagPen(this);">
                {% else %}
                <ul class="tag-item tag-last" onmousemove="showTagPen(this);" onmouseout="hideTagPen(this);">
                {% endif %}
                    <li>({{ tag.blog_nums }})</li>
                    <li class="tag-name" style="background:{{ tag.color }}">{{ tag.name }}</li>
                    {% if user.is_authenticated %}
                    <li class="tag-pen">
                        <a href="{% url 'tag_edit' id=tag.id %}">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div>
<script type="text/javascript">
function showTagPen(obj) {
    var oTagItem = obj;
    var oTagPen = oTagItem.children[2];
    oTagPen.style.display = "inline";
}

function hideTagPen(obj) {
    var oTagItem = obj;
    var oTagPen = oTagItem.children[2];
    var timer = null;
    timer = setTimeout(function() {
        oTagPen.style.display = "none";
    }, 300);
    oTagPen.onmousemove = function() {
        clearTimeout(timer);
    };
}
</script>
<script>
$('.tag-box').masonry({
    // options
    itemSelector: '.tag-cat',
    columnWidth: '.tag-cat'
});
</script>
{% endblock %}
