{% extends "base_sidebar.html" %} 

{% block content %}
<form action="{% url 'tag_edit' id=tag.id %}" class="pure-form" method="post">
    {% csrf_token %}
    <legend>Modify Tag</legend>
    <input type="text" name="name" value="{{ tag.name }}" required>
    <input type="text" name="color" id="picker" value="{{ tag.color }}" required>
    <button type="submit">Submit</button>
    <button type="reset">Reset</button>
</form>
<script>
$('#picker').colpick({
    layout: 'hex',
    submit: 0,
    colorScheme: 'dark',
    onChange: function(hsb, hex, rgb, el, bySetColor) {
        $(el).css('border-color', '#' + hex);
        if (!bySetColor) $(el).val(hex);
    }
}).keyup(function() {
    $(this).colpickSetColor(this.value);
});
</script>
{% endblock %}
