{% extends "base_sidebar.html" %} 

{% block content %}
<div class="content-wrapper">
    <div class="tag-form">
        <form method="post" action="" class="pure-form pure-form-aligned pure-u-1-3">
            {% csrf_token %}
            {{ tag_form.as_p }}
            <button type="submit" class="save-btn">Save</button>
            <button type="reset" class="reset-btn">Reset</button>
            <a href="{% url 'tag_del' id=tag.id %}" class="delete-btn">Delete</a>
        </form>
    </div>
</div>
<script>
$('#id_color').colpick({
    layout: 'hex',
    submit: 0,
    colorScheme: 'dark',
    onChange: function(hsb, hex, rgb, el, bySetColor) {
        $(el).css('border-color', '#' + hex);
        if (!bySetColor) $(el).val(hex);
    }
}).keyup(function() {
    $(this).colpickSetColor(this.value);
});
</script>
{% endblock %}
