{% extends "base.html" %} 

{% block content %}
<div class="pure-g tag-box">
    {% for tag_cat in tag_cats %}
    <div class="pure-u-3-24 tag-cat">
        <ul class="tag-items">
            {% for tag in tag_cat %} {% if not forloop.last %}
            <ul class="tag-item" onmousemove="showTagPen(this);" onmouseout="hideTagPen(this);">
            {% else %}
            <ul class="tag-item tag-last" onmousemove="showTagPen(this);" onmouseout="hideTagPen(this);">
            {% endif %}
                <li>({{ tag.blog_nums }})</li>
                <li class="tag-name" style="background:{{ tag.color }}">{{ tag.name }}</li>
                <li class="tag-pen">
                    <a href="{% url 'tag_edit' id=tag.id %}">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
<script type="text/javascript">
function showTagPen(obj) {
    var oTagItem = obj;
    var oTagPen = oTagItem.children[2];
    oTagPen.style.display = "inline";
}

function hideTagPen(obj) {
    var oTagItem = obj;
    var oTagPen = oTagItem.children[2];
    var timer = null;
    timer = setTimeout(function() {
        oTagPen.style.display = "none";
    }, 300);
    oTagPen.onmousemove = function() {
        clearTimeout(timer);
    };
}
</script>
<script>
$('.tag-box').masonry({
    // options
    itemSelector: '.tag-cat',
    columnWidth: '.tag-cat'
});
</script>
{% endblock %}
